 td.edit-control:before {
    font-family: FontAwesome;
    content: "\f055";
    cursor: pointer;
}  

 td.delete-control:before {
    font-family: FontAwesome;
    content: "\f055";
    cursor: pointer;
}  

th.dt-center, td.dt-center { text-align: center; }

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}